<h1>Hello World</h1>
<p>Today is <%= Time.now.strftime("%m/%d/%Y") %> </p>
<%=  form_tag({controller:"hello", action:"search"}, method: "get") do %>
	<%= label_tag(:q, "Search for:") %>
	<%= text_field_tag(:q) %>
	<%= check_box_tag(:pet) %>
	<%= label_tag(:pet, "I own a dog") %>
	<%= submit_tag("Search") %>
<% end %>
