<h1>Book#edit</h1>
<%= form_for @book do |b| %>
	<%= b.label(:bookname, "Book Name") %>
	<%= b.text_field(:name) %>
	<br />
	<%= b.label(:author_name, "Author Name") %>
	<% authors_array = Author.all.map { |author| [author.author, author.id] } %>
	<%= b.select(:author_id, options_for_select(authors_array)) %>
	<br />
	<%= b.submit("Update Book") %>
<% end %>
