<h1>Book#index</h1>
<p><%= link_to "Create New", { action: "new" } %>
<p><%= flash[:notice] %></p>
<% @book.each do |b| %>
	<table border=1>
		<tr>
			<td width=40%><%= b.name %></td>
			<td width=20%><%= b.author.author %></td>
			<td width=20%><%= b.created_at %></td>
			<td width=10%><%= link_to "Edit", { action: "edit", id: b.id } %></td>
			<td width=10%><%= link_to "Delete", { action: "destroy", id: b.id }, method: "delete" %></td>
		</tr>
	</table> 
<% end %>
