<h1>Book#new</h1>
<%= flash[:notice] %>
<%= form_for @book, url: { action:"create" } do |b| %>
	<%= b.label(:bookname, "Book Name") %>
	<%= b.text_field(:name) %>
	<br />
	<%= b.label(:author_name, "Select Author") %>
	<% authors_array = Author.all.map { |author| [author.author, author.id] } %>
	<%= b.select(:author_id, options_for_select(authors_array)) %>
	<br />
	<%= b.submit("Create Book") %>
<% end %>

