<h1>Hello World....Test...Index</h1>
<p>Today is <%= Time.now.strftime("%m/%d/%Y") %> </p>
<p><%= flash[:notice] %></p>
<p>
	<%= link_to "Create New", {controller: "test", action: "new"} %>
<p>
<% @test.each do |t| %>
<p>
	<%= t.id %>
	<%= t.name %>
	<%= t.created_at %>
	<%= link_to "Edit", {action: "edit", id: t.id} %>
</p>
<% end %>
