<h1>Hello World....Test...New</h1>
<p>Today is <%= Time.now.strftime("%m/%d/%Y") %> </p>
<%= form_for @test, url: { action: "create"} do |t| %>
	<%= t.text_field(:name) %>
	<%= t.submit "create" %>
<% end %>
