<h1>Author#index</h1>
<p><%= flash[:notice] %></p>
<%= link_to "Create New", { action: "new" } %>

<% @author.each do |a| %>
	<p>
		<%= a.id %>
		<%=	a.author %>
		<%=	a.created_at %>
		<%= link_to "Edit", { action: "edit", id: a.id } %>
		<%= link_to "Delete", { action: "destroy", id: a.id }, method: "delete" %>
	<p>
<% end %>
