<h1>Author#new</h1>
<%= form_for @author, url: {action: "create"} do |a| %>
	<p>
		<%= a.label(:author_name,"Author Name") %>
		<%= a.text_field(:author) %>
	</p>
	<p>
		<%= a.submit("Create Author") %>
	</p>
<% end %>
